<div class="dashboard-container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <nav class="nav">
        <ul>
          <li>
            <a routerLink="/dashboard">
              <span class="icon"><img src="assets/1.png" alt="Dashboard Icon" /></span> Dashboard
            </a>
          </li>
          <li>
            <a routerLink="/over">
              <span class="icon"><img src="assets/2.png" alt="Sales Overview Icon" /></span> Sales Overview
            </a>
          </li>
          <li>
            <a routerLink="/add">
              <span class="icon"><img src="assets/3.png" alt="Add Client Icon" /></span> Add Client
            </a>
          </li>
          <li>
            <a routerLink="/list">
              <span class="icon"><img src="assets/4.png" alt="Client List Icon" /></span> Client List
            </a>
          </li>
          <li>
            <a routerLink="/addp">
              <span class="icon"><img src="assets/5.png" alt="Add Product Icon" /></span> Add Product
            </a>
          </li>
          <li>
            <a routerLink="/adds">
              <span class="icon"><img src="assets/6.png" alt="Add Sale Icon" /></span> Add Sale
            </a>
          </li>
          <li>
            <a routerLink="/users">
              <span class="icon"><img src="assets/6.png" alt="Add Sale Icon" /></span>  User List
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  
    <!-- Main content area -->
    <div class="main-content">
      <!-- Top bar -->
      <div class="top-bar">
        <!-- User profile section -->
        <div class="user-profile">
          <img src="assets/logo.png" alt="Profile Image" />&nbsp;
        </div>
        
        <!-- Login and Logout links -->
        <div class="auth-links">
          <a *ngIf="!isLoggedIn" routerLink="/login" class="login">Login</a>
          <a *ngIf="!isLoggedIn" routerLink="/register" class="register">Register</a> 
          <a *ngIf="isLoggedIn" (click)="logout()" class="logout">Logout</a>
        </div>
      </div>
  
      <!-- Content area -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
